package views

type HomeVM struct {
	CommonVM
}

func NewHomeVM(navItems []NavItem) HomeVM {
	return HomeVM{
		CommonVM{Title: "Homepage", NavItems: navItems},
	}
}

templ Home(vm HomeVM) {
	@Layout(vm.Title, vm.NavItems) {
		<h1>
			Hello World!
		</h1>
		<p>
			Please <a class="font-medium text-blue-600 hover:underline dark:text-blue-500" href="/login">sign in</a> to start organizing your meals!
		</p>
	}
}
